 @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* global rules */
*, *::before, *::after{
    -webkit-box-sizing:border-box ;
    -moz-box-sizing:border-box ;
    -o-box-sizing:border-box ;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
  }
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    display: block;
}
img{
    max-width: 100%;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
:root{
    --main-bg:rgb(36 36 36);
    --main-color:rgb(88 88 88);
    --main-transion:.3s;
    --secondry-bg:rgb(36 36 36);
    --thried-bg:#2d2d2d;
    --white:#fff;
    --hover-color:#00aeef;
    --second-bg:#2d2d2d;

    --main-redius:3px;
    --main-margin:1rem;

}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
    background-color: rgb(20 20 20);
    direction: rtl;
    color: white;

}
.container{
    padding-left: .9375rem;
    padding-right: .9375rem;
    margin-left: auto;
    margin-right: auto;
}
/* small */

@media(min-width:768px){
    .container{
        width: 730px;
        
    }
}

/* medium */
@media(min-width:992px){
    .container{
         width: 970px;
    }
}

/* larg */
@media(min-width:1200px){
    .container{
        width:986px;
       
   }
}
/* end global rules */
header{
    background-color: var(--main-bg);
    position: relative;

}
header .container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem;
}
@media(max-width:992px){
    header .container{
        flex-wrap: wrap;

    }
    header .container .header__img{
        order: 1;
        margin: 0 auto 2rem;
        width: 100%;
    }
    
    header .container .header__img::before{
        content: "";
        position: absolute;
        width: 100%;
        height: 0.01rem;
        top: 50%;
        left: 0;
        background-color: #000;
        box-shadow: 0px 0px 1px 0px #ffffff75;
    }

    header .container .header__img img{
        
        margin: 0 auto 2rem;
        
    }
}
header .log-out{
    color: var(--main-color);
}
@media(max-width:992px){
    header .log-out{
      order: 2;
    }
}

header .form {
    display: flex;
}
@media(max-width:992px){
    header .form {
        order: 3;
    }
}
header .form form {
   position: relative;
}
header .form form input[type="text"] {
    padding: 0.6rem 1rem 0.7rem 3rem;
    background-color: transparent;
    border: 1px solid #7777;
    border-radius: 6px;
    caret-color:white ;
    outline: none;

}
header .form form input[type="text"]:focus {
    border-color:#00aeef ;
   }
header .form form input[type="submit"] {
    background-color: transparent;
    border: none;
    color: var(--main-color);
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    transition: var(--main-transion);
}
input[type="submit"] {
    font-family: "Font Awesome 5 Free";
    font-size: 1.3333333333333333em;
    font-weight: 900;
  }
header .form .bar{
    margin-left: 1rem;
    color: var(--main-color);
}

header .menue{
    background-color: var(--secondry-bg);
    position: absolute;
    bottom: -173%;
    right: 10%;
    border-radius: 7px;
    /* display: none; */
    opacity: 0;
    transition: var(--main-transion);
}
header .container .form .bar:hover{
    color: #00aeef;
}
header .container .form .bar:hover+.menue{
    opacity: 1;
}

header .menue::after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: -28px;
    right: 6px;
    border: 15px solid;
    border-color: transparent transparent var(--secondry-bg) transparent;
}
header .menue li a{
    padding: 0.6rem 2.26rem 0.7rem;
    font-size: .9rem;
    color: #999999;
    font-weight: bold;
}
header .menue li:last-child a{
    border-bottom: 3px solid #00aeef;
}
header .menue li:hover a{
    background-color: var(--thried-bg);
    color: white;
}
/* end header */
/* start nav */
nav{
    background-color: var(--thried-bg);
}
nav .container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: .8rem 1rem;
}
nav .container ul a{
    font-size: 1rem;
    color: var(--main-color);
    font-weight: bold;
}
nav .container ul a:hover{
    color: #00aeef;
}
/* end nav */

#content{
    padding-top: 20px;

}
.contentbox{
    background-color: var(--main-bg);
    border-radius: var(--main-redius);
    padding: 0.3rem 1rem 1rem;
}
/* start  series_info*/
.contentbox .series_info{
    /* padding:.3rem 1rem 1rem; */
}
.contentbox .series_info h1 a{
    font-size: 1.5rem;
    padding:0 0 1rem ;
    color: var(--white);
    font-weight: 800;
    transition: .2s;
}
.contentbox .series_info h1 a:hover{
    color: var(--hover-color);
}
.contentbox .series_info .all_detail{
    background-color: var(--second-bg);
    padding: 1rem;
    display: flex;
    gap: 15px;
    align-items: flex-start;
    border-radius: 3px;

}
@media(max-width:767px){
.contentbox .series_info .all_detail{
    flex-direction: column-reverse;
    align-items: center;
}
}
.contentbox .series_info .all_detail>img{
    width: 150px;
}

.contentbox .series_info .all_detail  .series_info_detail{
    width: 100%;
}
.contentbox .series_info .all_detail .series_info_detail p{
    color: var(--white);
    padding-top: 0.5rem;
    font-weight: 500;
}
.contentbox .series_info .all_detail .series_info_detail p>span{
    font-size: .94rem;
    font-weight: normal;
    /* padding-right: 3px; */
    margin-right: 5px;

}
.contentbox .series_info .all_detail .series_info_detail p.hilight{
    color: #70ad1e;
}
.contentbox .series_info .all_detail .series_info_detail p .spcial{
    padding: 9px 15px 11px;
    background-color: var(--secondry-bg);
    border: none;
    color: white;
    width: 400px;
    font-weight: normal;
    margin-right: 5px;
    border: .5px solid var(--secondry-bg);
    border-radius: 3px;
    transition: .2s;
}
.contentbox .series_info .all_detail .series_info_detail p .spcial:focus{
    outline: none;
    border: .5px solid var(--hover-color);    
}
@media(max-width:767px){
.contentbox .series_info .all_detail .series_info_detail p .spcial{
    max-width: 100%;
}
}
/* end  series_info*/

/*  start video  */
.container .contentbox .main_video{
    margin-top: var(--main-margin);
    margin-bottom: var(--main-margin);
    background-color: var(--main-bg);
    position: relative;
}
.container .contentbox .pasue{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    z-index: 99;
    cursor: pointer;

}
.container .contentbox .pasue:hover{
    color: #878383;
}
/*  end video  */
/* start server */
.container .contentbox .servers{}
.container .contentbox .servers .server{
    margin: var(--main-margin) 0;
}
.container .contentbox .servers .server h4{
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    background-color: rgb(20 20 20);
    border-radius: 3px;
}
.container .contentbox .servers .server .episodes{
    background-color: var(--second-bg);
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border-radius: 3px;
    flex-wrap: wrap;
}
.container .contentbox .servers .server .episodes p{
    background-color: #537b1c;
    color: var(--white);
    font-weight: normal;
    padding: 0.5rem 1rem;
    border-radius: var(--main-redius);
    cursor: pointer;
}


.container .contentbox .servers .server .episodes p:hover{
    background-color: #6fad1b;
}
/* end server */